section
    a(href='https://github.com/coderkid/tkppl-bespoke-project')
      img(style="position: absolute; top: 0; right: 0; border: 0;", src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png")
    h2 Objek wisata Sumatera Utara
    h3 by Random
    ul.team
      li Wahyu Raja Butar-Butar(10 111 0354)
      li Rahmatsyah Panggabean(10 111 1520)
      li M.Hadi Ardiansyah(10 111 2070)
      li Franseda Abudiman Dalimunthe(10 111 2495)